<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salir</servlet-name>
        <servlet-class>salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>valida</servlet-name>
        <servlet-class>valida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminar</servlet-name>
        <servlet-class>Dao.eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarPaciente</servlet-name>
        <servlet-class>Controlador.InsertarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertar</servlet-name>
        <servlet-class>Dao.insertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validar</servlet-name>
        <servlet-class>validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPaciente</servlet-name>
        <servlet-class>InsertPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPersonal</servlet-name>
        <servlet-class>InsertPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertReserva</servlet-name>
        <servlet-class>InsertReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServicio</servlet-name>
        <servlet-class>InsertServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertEspecialidad</servlet-name>
        <servlet-class>InsertEspecialidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertHorario</servlet-name>
        <servlet-class>InsertHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCargo</servlet-name>
        <servlet-class>InsertCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertEspecialista</servlet-name>
        <servlet-class>InsertEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificar</servlet-name>
        <servlet-class>Dao.modificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyEspecialista</servlet-name>
        <servlet-class>ModifyEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyPersonal</servlet-name>
        <servlet-class>ModifyPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyPaciente</servlet-name>
        <servlet-class>ModifyPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyCargo</servlet-name>
        <servlet-class>ModifyCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyEspecialidad</servlet-name>
        <servlet-class>ModifyEspecialidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyHorario</servlet-name>
        <servlet-class>ModifyHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyReserva</servlet-name>
        <servlet-class>ModifyReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyServicio</servlet-name>
        <servlet-class>ModifyServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePersonal</servlet-name>
        <servlet-class>DeletePersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePaciente</servlet-name>
        <servlet-class>DeletePaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEspecialista</servlet-name>
        <servlet-class>DeleteEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHorario</servlet-name>
        <servlet-class>DeleteHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCargo</servlet-name>
        <servlet-class>DeleteCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEspecialidad</servlet-name>
        <servlet-class>DeleteEspecialidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServicio</servlet-name>
        <servlet-class>DeleteServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReserva</servlet-name>
        <servlet-class>DeleteReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaPaciente</servlet-name>
        <servlet-class>BuscarEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarEspecialista</servlet-name>
        <servlet-class>MostrarEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarEspecialista1</servlet-name>
        <servlet-class>MostrarEspecialista1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarEspecialista2</servlet-name>
        <servlet-class>MostrarEspecialista2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarPaciente</servlet-name>
        <servlet-class>ValidarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleReserva</servlet-name>
        <servlet-class>DetalleReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreReserva</servlet-name>
        <servlet-class>PreReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreReserva1</servlet-name>
        <servlet-class>PreReserva1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarReserva</servlet-name>
        <servlet-class>ConfirmarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarPaciente</servlet-name>
        <servlet-class>RegistrarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarPaciente1</servlet-name>
        <servlet-class>RegistrarPaciente1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarPaciente1</servlet-name>
        <servlet-class>ValidarPaciente1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarClave</servlet-name>
        <servlet-class>ModificarClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertHistorial</servlet-name>
        <servlet-class>InsertHistorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Grafica</servlet-name>
        <servlet-class>Grafica</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salir</servlet-name>
        <url-pattern>/salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>valida</servlet-name>
        <url-pattern>/valida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminar</servlet-name>
        <url-pattern>/eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarPaciente</servlet-name>
        <url-pattern>/InsertarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertar</servlet-name>
        <url-pattern>/insertar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validar</servlet-name>
        <url-pattern>/validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validar</servlet-name>
        <url-pattern>/validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPaciente</servlet-name>
        <url-pattern>/InsertPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPersonal</servlet-name>
        <url-pattern>/InsertPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertReserva</servlet-name>
        <url-pattern>/InsertReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServicio</servlet-name>
        <url-pattern>/InsertServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertEspecialidad</servlet-name>
        <url-pattern>/InsertEspecialidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertHorario</servlet-name>
        <url-pattern>/InsertHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCargo</servlet-name>
        <url-pattern>/InsertCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertEspecialista</servlet-name>
        <url-pattern>/InsertEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificar</servlet-name>
        <url-pattern>/modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyEspecialista</servlet-name>
        <url-pattern>/ModifyEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyPersonal</servlet-name>
        <url-pattern>/ModifyPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyPaciente</servlet-name>
        <url-pattern>/ModifyPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyCargo</servlet-name>
        <url-pattern>/ModifyCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyEspecialidad</servlet-name>
        <url-pattern>/ModifyEspecialidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyHorario</servlet-name>
        <url-pattern>/ModifyHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyReserva</servlet-name>
        <url-pattern>/ModifyReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyServicio</servlet-name>
        <url-pattern>/ModifyServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePersonal</servlet-name>
        <url-pattern>/DeletePersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePaciente</servlet-name>
        <url-pattern>/DeletePaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEspecialista</servlet-name>
        <url-pattern>/DeleteEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHorario</servlet-name>
        <url-pattern>/DeleteHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCargo</servlet-name>
        <url-pattern>/DeleteCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEspecialidad</servlet-name>
        <url-pattern>/DeleteEspecialidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServicio</servlet-name>
        <url-pattern>/DeleteServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReserva</servlet-name>
        <url-pattern>/DeleteReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaPaciente</servlet-name>
        <url-pattern>/BuscaPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarEspecialista</servlet-name>
        <url-pattern>/MostrarEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarEspecialista1</servlet-name>
        <url-pattern>/MostrarEspecialista1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarEspecialista2</servlet-name>
        <url-pattern>/MostrarEspecialista2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarPaciente</servlet-name>
        <url-pattern>/ValidarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleReserva</servlet-name>
        <url-pattern>/DetalleReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreReserva</servlet-name>
        <url-pattern>/PreReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreReserva1</servlet-name>
        <url-pattern>/PreReserva1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarReserva</servlet-name>
        <url-pattern>/ConfirmarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarPaciente</servlet-name>
        <url-pattern>/RegistrarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarPaciente1</servlet-name>
        <url-pattern>/RegistrarPaciente1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarPaciente1</servlet-name>
        <url-pattern>/ValidarPaciente1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarClave</servlet-name>
        <url-pattern>/ModificarClave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertHistorial</servlet-name>
        <url-pattern>/InsertHistorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Grafica</servlet-name>
        <url-pattern>/Grafica</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
